body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    position: relative;
    width: 400px;
}

.form-toggle {
    display: flex;
    margin-bottom: 20px;
}

.toggle-btn {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.toggle-btn.active {
    background-color: #007bff;
    color: #fff;
}

.login-form, .register-form {
    display: none;
}

.login-form.active, .register-form.active {
    display: block;
}

.input-group {
    margin-bottom: 15px;
    margin-right: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
    text-align: center;
}

p a {
    text-decoration: none;
    color: #007bff;
}

#register-message{
    margin-top: 20px;
}
#login-message{
    margin-top: 20px;
    margin-bottom: 15px;
}

.message {
    color: red;
  }
  
.message.success {
    color: green;
}